body {
  background: rgb(190, 190, 188);
}

h1 {
  color: rgb(8, 97, 28);
}

.navigation {
  background: #544f9c;
  padding: 12px;
  border-radius: 8px;
}

.navigation__link {
  color: #d1d412;
  display: inline-block;
  margin-right: 30px;
}

.navigation-html {
  background: #df5303;
  padding: 12px;
  border-radius: 8px;
}
.navigation-html__link {
  color: #fff;
  display: inline-block;
  margin-right: 30px;
}

.navigation-css {
  background: #0399df;
  padding: 12px;
  border-radius: 8px;
}

.navigation-css__link {
  color: #fff;
  display: inline-block;
  margin-right: 30px;
}

.navigation-js {
  background: #c0c402;
  padding: 12px;
  border-radius: 8px;
}

.navigation-js__link {
  color: #fff;
  display: inline-block;
  margin-right: 30px;
}

.week-description {
  color: #941903;
  padding-left: 300px;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 8px;
}

.week-title__link {
  background: rgb(236, 240, 240);
  padding: 12px;
  display: inline-block;
  border-radius: 8px;
  margin-left: 70px;
}

.week-title__link--1 {
  color: rgb(209, 108, 13);
}

.week-title__link--2 {
  color: rgb(11, 117, 7);
}

.week-title__link--3 {
  color: #0e88c0;
}

.week-title__link--4 {
  color: #6a0ec0;
}

.week-title__link--5 {
  color: #c00e0e;
}

.border {
  background: #bfe2ec;
  padding-left: 15px;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 8px;
  margin-top: 3px;
}

.border1 {
    padding-left: 200px; 
}

.border2 {
    padding-left: 370px;
}